__pycache__/
.vscode
**.code-workspace


# Large datasets
data/objects/*
data/objects_pcd/*
data/objects_pts/*
data/objects_off/*
Part2_Test/Objects_pcd/*.pcd
Part2_Test/Objects_off/*.off
!data/**/README.md


# Temporary files
**pcd_point_cloud.pcd


*.label
*.pose

# Remove these later
datasets/
datasets_point_cloud/
