__pycache__/
.vscode
**.code-workspace


# Large datasets
data/objects/*
data/objects_pcd/*
!data/**/README.md


# Temporary files
**pcd_point_cloud.pcd


*.label
*.pose

# Remove these later
datasets/
datasets_point_cloud/
